#search-image{
    width: 85vh !important;
    margin-left: 17% !important;
}
h2{
    margin-bottom: -50vh !important;
}
#search-bar{
    margin-top: 2vh !important;
}
#productImg{
    margin-left: 35% !important;
}
#checkoutBtn{
    margin-left: 43% !important;
    margin-top: 2% !important;
}
#productSummary{
    display: none;
    margin-top: 1% !important;
}
#search-alert{
    text-align: center;
    width: 50%;
    margin-left: 23% !important;
}