#search-image{
    width: 85vh !important;
    margin-left: 17% !important;
}
h2{
    margin-top: 2vh !important;
    margin-bottom: -80vh !important;
}
#search-bar{
    margin-top: 0vh !important;
}
#productImg{
    margin-left: 35% !important;
}
#checkoutBtn{
    margin-left: 43% !important;
    margin-top: 2% !important;
}
#productSummary{
    display: none;
    margin-top: 0% !important;
}
#search-alert{
    margin-top: 1% !important;
    text-align: center;
    width: 50%;
    margin-left: 23% !important;
}
#postBtn{
    float:right !important;
}

.reactionCounts{
    padding-left: 2.5% !important;
}
#newRev{
    display: block;
}