#profile-form{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    width: 90vw !important;
    padding: 3vh !important;
    margin-top: 5vh !important;
    margin-left: 4vw !important;
    border-radius: 15px !important;
}
h2{
    margin-bottom: 2vh !important;
}
#update-btn{
    margin-left: 30vw !important;
}
#deleteBtn{
    margin-left: 44% !important;
    text-decoration: none;
    margin-top: 1% !important;
}
#error-alert{
    margin-top: -5% !important;
}
div.fade.in.modal {
    display:flex !important;
  }
  
  .modal-dialog {
    margin: auto !important;
  }