#home-image{
    width: 100% !important;
    margin-top: 7% !important;
}
#mainContainer #signupBtn{
    color:grey !important;
    text-decoration: none !important;
}
#mainContainer h1{
    font-size: 4em !important;
    margin-top: 20% !important;
    margin-bottom: 3% !important;
    text-align: left;
}
#mainContainer #midText{
    color: rgba(0,0,0,0.6);
    font-size: 1.3em !important;
    margin-bottom: 3% !important;
}
#mainContainer{
    margin-left: 5% !important;
}