h1{
    margin-top: 1% !important;
    font-size: 2em !important;
    text-align: center;
}
#messageForm{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    border-radius: 15px;
    padding: 3% 5% !important;
    margin-top: 1% !important;
    width: 50% !important;
    margin-left: 25% !important;
    padding-top: 1% !important;
    margin-bottom: 1.5% !important;
}
#msgAlert{
    width: 30% !important;
    margin-left: 35% !important;
    text-align: center;
}